#viz_header{
	background-color: #DADADA;
	font-family: 'Lora', serif;
	padding: .3em;
	margin-bottom: 1em;
}
h2, h6{
	margin: 0px;
	font-weight: normal;
}
h2{
	font-size: 1.8em;
}
h6{
	font-size: 1em;
}
table{
	font-size: 0.7em;
	width: 100%;
}
thead th{
	font-weight: normal;
	background-color: #DADADA;
}



svg .bold{
	font-family: "Lora",serif;
	font-weight: bold;
}
svg .regular{
	font-family: "Lora",serif;
	font-weight: normal;
}

.uppercase{
	text-transform:uppercase;
}

.bar.highlight{
	stroke:#000;
}
.label.highlight.Ebola,
.label.highlight.Marburgo,
.label.highlight.Lassa,
.label.highlight.CongoCrimea,
.label.highlight.ValleRift{
	fill:#36A9E1
}
.label.highlight.MERS,
.label.highlight.SARS{
	fill:#E30613
}

.label.highlight.Nipah,
.label.highlight.Hendra{
	fill:#2FAC66
}

#reserv_murci.Ebola,
#reserv_murci.Marburgo,
#reserv_rat.Lassa,
#reserv_vaca.CongoCrimea,
#reserv_ovella.ValleRift{
	fill:#36A9E1
}
#reserv_camell.MERS,
#reserv_murci.MERS,
#reserv_murci.SARS,
#reserv_geneta.SARS{
	fill:#E30613
}
#reserv_murci.Nipah,
#reserv_murci.Hendra{
	fill:#2FAC66
}
/*reserv_rat
reserv_murci
reserv_vaca
reserv_murci
reserv_camell
reserv_ovella*/

.map{
	stroke-linejoin: round;
	stroke: #000;
	fill: none;
}
/*.map path{
	fill:green;
	stroke:red;
}*/
