#viz_header{
	background-color: #DADADA;
	font-family: 'Lora', serif;
	padding: .3em;
	margin-bottom: 1em;
}
h2, h6{
	margin: 0px;
	font-weight: normal;
}
h2{
	font-size: 1.8em;
}
h6{
	font-size: 1em;
}
table{
	font-size: 0.7em;
	width: 100%;
}
thead th{
	font-weight: normal;
	background-color: #DADADA;
}



svg .bold{
	font-family: "Lora",serif;
	font-weight: bold;
}
svg .regular{
	font-family: "Lora",serif;
	font-weight: normal;
}

.uppercase{
	text-transform:uppercase;
}

.bar.highlight{
	stroke:#000;
}
.label.highlight.Ebola,
.label.highlight.Marburgo,
.label.highlight.Lassa,
.label.highlight.CongoCrimea,
.label.highlight.ValleRift{
	fill:#36A9E1
}
.label.highlight.MERS,
.label.highlight.SARS{
	fill:#E30613
}

.label.highlight.Nipah,
.label.highlight.Hendra{
	fill:#2FAC66
}
.bar.highlight.Hendra{
	stroke: #2FAC66;
}

#murcielago.Ebola,
#murcielago.Marburgo,
#rata.Lassa,
#vaca.CongoCrimea,
#oveja.ValleRift{
	fill:#36A9E1
}
#camello.MERS,
#murcielago.MERS,
#murcielago.SARS,
#gineta.SARS{
	fill:#E30613
}
#murcielago.Nipah,
#murcielago.Hendra{
	fill:#2FAC66
}
/*reserv_rat
reserv_murci
reserv_vaca
reserv_murci
reserv_camell
reserv_ovella*/

.map{
	stroke-linejoin: round;
	stroke: #555;
	fill: #E6E6E6;
}
.crisp{
	shape-rendering: crispEdges;
}
.virus{
	cursor: default;
}
/*.map path{
	fill:green;
	stroke:red;
}*/

.container--ph {
  height: 0;
  padding-top: 48%;
  position: relative;
}

.svg--responsive {
  position: absolute;
  top: 0;
  left: 0;
}
